<%- include("partials/header") %>
<div class="container">

            <h1 class="text-center">Create a New Campground</h1>
        <div class="w-50 mx-auto">
            <form action="/campgrounds" method="POST">
                <div class="form-row">
                    <div class="form-row">  
                        <div class="form-group w-50 mx-auto"></div>
                        <input class="form-control" type="text" name="name" placeholder="name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row">  
                        <div class="form-group w-50 mx-auto"></div>
                        <input class="form-control" type="text" name="image" placeholder="image url">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-row">  
                        <div class="form-group w-50 mx-auto"></div>
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </div> 
                <div>
                    <a href="/campgrounds">Back to Home</a>
                    </div>
           </form>       
        </div>

        
        
</div>
<%- include("partials/footer") %>